<script>
  import { extent, max } from "d3-array";
  import { scaleLinear, scaleTime } from "d3-scale";
  import { curveBundle, curveCatmullRomClosed, line } from "d3-shape";

  // Export
  export let data = [];
  export let height = 100;
  let offsetBase = 12;
  let alpha = 0.8;
  let width = data.length;
  // scales
  const xScale = scaleTime()
    .domain(extent(data.map((d) => new Date(2014, 11, d.day, d.hour))))
    .range([0, data.length]);
  const elecScale = scaleLinear()
    .domain([0, max(data.map((d) => d.total_electrity))])
    .range([(height / 2), 0]);

  const gasScale = scaleLinear()
    .domain([0, max(data.map((d) => d.total_gas))])
    .range([(height / 2)-offsetBase, height]);

  // Lines
  const lineElec = line()
    .curve(curveBundle.beta(1))
    .x((d) => xScale(new Date(2014, 11, d.day, d.hour)))
    .y((d) => elecScale(d.total_electrity));
  const lineGas = line()
    .curve(curveBundle.beta(1))
    .x((d) => xScale(new Date(2014, 11, d.day, d.hour)))
    .y((d) => gasScale(d.total_gas));
</script>

<svg>
  <path d={lineElec(data)} class="elec-area" />
  <path d={lineGas(data)} class="gas-area" />
  <!-- svelte-ignore component-name-lowercase -->
  <line 
    x1={0} 
    x2={width} 
    y1={(height/2)-offsetBase} 
    y2={(height/ 2)-offsetBase}
    stroke='black'
    stroke-width=2
    />
</svg>

<style>
  .gas-area {
    fill: orange;
  }

  .elec-area {
    fill: mediumblue;
  }
</style>
