<script>
  // Baseline variables
  export let citySelected = cities[1];
  export let scalingTypeSelected = scalingTypes[0].value;

  // Labels of radio checks
  export let cities = [];
  export let scalingTypes = [];
</script>

<div class="row">
  <div class="col-6">
    {#each cities as city}
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          bind:group={citySelected}
          value={city}
          id={city}
        />
        <label class="form-check-label" for={city}>
          {city}
        </label>
      </div>
    {/each}
  </div>
  <div class="col-6">
    {#each scalingTypes as { label, value }}
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          bind:group={scalingTypeSelected}
          value={value}
          id={value}
        />
        <label class="form-check-label" for={value}>
          {label}
        </label>
      </div>
    {/each}
  </div>
</div>
