<script>
    import { extent } from "d3-array";
    import { area } from "d3-shape";
    import { scaleLinear, scaleTime } from "d3-scale";

    // Size and margins
    const width = 800;
    const height = 450;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;

    // Data
    export let data = [];
    export let buildingTypes = [];
    export let scalingTypeSelected = 'across';
    
    // Array holding a scale for each building type
    export let scalesWithin = [];
    
    // Scales
    const xScale = scaleTime()
        .domain(extent(data.map(d => new Date(2014,12, d.day, d.hour))))
        .range([180, innerWidth]);
    const yScaleAcross = scaleLinear()
        .domain(extent(data.map(d => d.total_heating_energy)))
        .range([0, (innerHeight/buildingTypes.length) - 15]);
  
    const areaAcross = area()
        .x(d => d.x)
        .y0(d=> 0)
        .y1(d => -d.yAcross);

    const areaWithin = area()
        .x(d => d.x)
        .y0(d=> 0)
        .y1(d => -d.yWithin); 

    $: {
        scalesWithin = [];
        buildingTypes.forEach(btype => {
            const dataSelection = data.filter(d => d.buildingtype == btype);
            const yScaleWithin = scaleLinear()
                .domain(extent(dataSelection.map(d => d.total_heating_energy)))
                .range([0, (innerHeight/buildingTypes.length) - 15]);
            const dataPrecomputed = dataSelection.map( (d,i) => {
                let final = {
                    x: xScale(new Date(2014,12, d.day, d.hour)),
                    yWithin: yScaleWithin(d.total_heating_energy),
                    yAcross: yScaleAcross(d.total_heating_energy)
                };
                return final;
            });
            const finalObject = {
                buildingType: btype,
                dataSelected: dataPrecomputed,
            };
            scalesWithin.push(finalObject);
        }); 
    }
</script>

<svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      <!-- Plotting lines  -->
      {#each scalesWithin as buildingType, i }
        <g transform="translate({margin.left},{margin.top+(i*25)})">
            {#if scalingTypeSelected == 'across'}
                <path d={areaAcross(buildingType.dataSelected)} fill="goldenrod"></path>
            {:else}
                <path d={areaWithin(buildingType.dataSelected)} fill="goldenrod"></path>
            {/if}
            <text class="lbl-txt">{buildingType.buildingType.replace(/([A-Z])/g, ' $1')}</text>
        </g>   
      {/each}
    </g>
</svg>

<style>
    svg {
      border: 0px solid black;
      border-radius: 5px;
    }

    .lbl-txt {
        text-align: center;
        font-style: italic;
    }
  </style>