<script>
import { json } from "d3-fetch";

import { onMount } from "svelte";
import Controls from "./_design_1_controls.svelte";
import LinePlot from "./_design_1_plot.svelte";

  // Loading data
  let data = null;
  let filteredData = null;
  // Controls
  let citySelected = 'Chicago';
  let scalingTypeSelected = 'across';

  // Control options
  let cities = [];
  let buildingTypes = [];
  let scalingTypes = [
    {
      label: 'Across all building types',
      value: 'across'
    },
    {
      label: 'Within building type',
      value: 'within'
    },
  ];

  onMount(async ()=> {
    data = await json("/data/hourly_heating_december.json");
    buildingTypes = [...new Set(data.map( a => a.buildingtype))];
    cities = [...new Set(data.map(c => c.city))];
  });

  $: {
    if (data) {
      filteredData = data.filter(d => d.city == citySelected); 
    }
  }
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Controls {cities} {scalingTypes} bind:citySelected={citySelected} bind:scalingTypeSelected={scalingTypeSelected}></Controls>
    <LinePlot data={filteredData} {buildingTypes} {scalingTypeSelected}></LinePlot>
  </div>
{/if}
