<script>
  import { extent, filter, max } from "d3-array";

  import { json } from "d3-fetch";
  import { scaleLinear } from "d3-scale";
  import { curveCatmullRomClosed, radialLine } from "d3-shape";
  import { onMount } from "svelte";

  // Size and margins
  const originalWidth = 600;
  const originalHeight = 250;
  let width = 600;
  let height = 600;
  let margin = { top: 10, right: 10, bottom: 10, left: 10 };
  let innerWidth = width - margin.left - margin.right;
  let innerHeight = height - margin.top - margin.bottom;

  // Loading data
  let data = null;
  let cities = [];
  let cityFiltered = [];

  // Circle misc variable
  let radius = 70;
  let angleSlice = (2 * Math.PI) / 12; // Number of months
  // Scales
  let rScaleHeat = null;
  let rScaleCool = null;
  let radarLineHeat = null;
  let radarLineCool = null;

  onMount(async () => {
    data = await json("/data/daily_heating_cooling.json");
    cities = [...new Set(data.map((c) => c.city))];
    width = width / cities.length;
    height = height / cities.length;
    margin = { top: 10, right: 10, bottom: 10, left: 10 };
    innerWidth = width - margin.left - margin.right;
    innerHeight = height - margin.top - margin.bottom;

    cityFiltered = getAverages(data, ["city", "month"], ["heating", "cooling"]);

    // Setting scales
    rScaleHeat = scaleLinear()
      .domain([0, max(cityFiltered.map((d) => d.heating))])
      .range([0, radius]);
    rScaleCool = scaleLinear()
      .domain([0, max(cityFiltered.map((d) => d.cooling))])
      .range([0, radius]);
    radarLineHeat = radialLine()
      .curve(curveCatmullRomClosed)
      .radius((d) => rScaleHeat(d.heating))
      .angle((d, i) => i * angleSlice);

    radarLineCool = radialLine()
      .curve(curveCatmullRomClosed)
      .radius((d) => rScaleCool(d.cooling))
      .angle((d, i) => i * angleSlice);
  });

  function getAverages(array, groupKeys, averageKeys) {
    var groups = {},
      result = [];

    array.forEach((o) => {
      var key = groupKeys.map((k) => o[k]).join("|"),
        group = groups[key];

      if (!group) {
        groups[key] = { count: 0, payload: {} };
        group = groups[key];
        averageKeys.forEach((k) => (group[k] = 0));
        groupKeys.forEach((k) => (group.payload[k] = o[k]));
        result.push(group.payload);
      }
      groups[key].count++;
      averageKeys.forEach(
        (k) => (group.payload[k] = (group[k] += o[k]) / group.count)
      );
    });
    return result;
  }
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div class="row">
    {#each cities as city}
      <div class="col-4">
        <p class="text-center lbl-txt" x={innerWidth / 2} y={margin.bottom - 18}>
          {city}
        </p>
        <svg {width} {height}>
          <g transform="translate({margin.left}, {margin.top})">
            <circle
              cx={innerWidth / 2}
              cy={innerHeight / 2}
              r={radius}
              fill="none"
              stroke="black"
            />
            <line
              x1={innerWidth / 2}
              x2={innerWidth / 2}
              y1={innerHeight - 20}
              y2={20}
              stroke="black"
            />
            <line
              x1={20}
              x2={innerWidth - 20}
              y1={innerHeight / 2}
              y2={innerHeight / 2}
              stroke="black"
            />
            <text
              class="legend"
              transform="translate({innerWidth / 2 - 5},{15})">0</text
            >
            <text
              class="legend"
              transform="translate({innerWidth - 15},{innerHeight / 2 + 5})"
              >3</text
            >
            <text
              class="legend"
              transform="translate({innerWidth / 2 - 5}, {innerHeight - 5})"
              >6</text
            >
            <text class="legend" transform="translate(5,{innerHeight / 2 + 5})"
              >9</text
            >
            <!-- Area of things -->
            <g transform="translate({innerWidth/2}, {innerHeight/2})">
              <path
                d={radarLineCool(cityFiltered.filter((d) => d.city == city))}
                fill="blue"
                class="area-misc"
              />
              <path
                d={radarLineHeat(cityFiltered.filter((d) => d.city == city))}
                fill="red"
                class="area-misc"
              />
              <!-- tooltips -->
              {#each cityFiltered.filter((d) => d.city == city) as d, i}
                <circle
                  class="circle-misc"
                  r="2"
                  cx={rScaleCool(d.cooling) *
                    Math.cos(angleSlice * i - Math.PI / 2)-1}
                  cy={rScaleCool(d.cooling) *
                    Math.sin(angleSlice * i - Math.PI / 2)+1}
                  fill="blue"
                />
                <circle
                  class="circle-misc"
                  r="2"
                  cx={rScaleHeat(d.heating) *
                    Math.cos(angleSlice * i - Math.PI / 2)-1}
                  cy={rScaleHeat(d.heating) *
                    Math.sin(angleSlice * i - Math.PI / 2)+1}
                  fill="red"
                />
              {/each}
            </g>
          </g>
        </svg>
      </div>
    {/each}
  </div>
{/if}

<style>
  svg {
    border: 0px solid black;
    border-radius: 5px;
  }

  .circle-misc {
    stroke-opacity: 0.5;
    fill-opacity: 0.7;
  }

  .area-misc {
    stroke-opacity: 0.5;
    fill-opacity: 0.5;
  }

  .lbl-txt {
        text-align: center;
        font-style: italic;
    }
</style>
