<script>
  import { filter } from "d3-array";
import { json } from "d3-fetch";

  import { onMount } from "svelte";
  import TreeLeaf from "./_design_3_tree_leaf.svelte";

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Loading data
  let data = [];
  let weeks = [];

  // Misc variables
  let rotation = -15;

  onMount(async () => {
    data = await json("/data/hourly_electricity_vs_gas_december.json");
    weeks = [... new Set(data.map(d => d.week))];
  });
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      <!--Tree-base -->
      <line
        x1={innerWidth / 2}
        x2={innerWidth / 2}
        y1={100}
        y2={innerHeight - 100}
        stroke="black"
        stroke-width="10"
      />
      <!-- Tree leafs -->
      {#each weeks as weekNo, i}
        {#if weekNo%2 == 0}
          <g transform="translate({(innerWidth/2)},{innerHeight-(i+1)*80- margin.bottom-100}) rotate({rotation})">
            <TreeLeaf data={data.filter(d => d.week == weekNo)} />
          </g>
        {:else}
          <g transform="translate({(innerWidth/2)},{innerHeight-(i+1)*80- 100}) scale(-1,1) rotate({rotation})">
            <TreeLeaf data={data.filter(d => d.week == weekNo)} />
          </g>
        {/if}
        
      {/each}
    </g>
    <text class="lbl-txt" x={(innerWidth / 2)- 100} y={innerHeight- 40}>
      Chicago
    </text>
    <text class="lbl-txt" x={(innerWidth / 2)- 50} y={innerHeight- 10}>
      (December 2014)
    </text>
  </svg>
{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  .lbl-txt {
        /* text-align: center; */
        font-style: italic;
        font-size: 30px;
    }
</style>
