<div>
  <!-- Different tags for layouts  -->
  <p><em>"The best visual channels order by Mackinlay's ranking"</em></p>
  <ol>
    <li> <em>Position</em> </li>
    <li><em>Length</em></li>
    <li><em>Angle</em></li>
  </ol>
</div>
