<p>I <span class="inf">really</span> like data visualisation!</p>

<style>
    p {
        color: steelblue;
        size: 26px;
        font-style: oblique;
    }
    .inf {
        color: tomato;
    }
</style>
