<script>
    const me = { 
        name: "Juan Felipe Salcedo Escobar",
        favThings: ["Movies", "Basketball", "Dancing", "Cooking"]    
    };
</script>

<p> My name is {me.name} and these are some of my favourite things: {me.favThings}</p>
