<script>
  // Properties
  export let data = [];
  const continents = ["europe", "asia", "americas", "africa"];
  
  // Button parameters
  const years = data.map(a => a.year);
  const dropDownOptions = ["all", ...continents];
  
  // Dropdown
  export let continentSelected = "all";
  export let yearSelected = 0;

  // Start-pause
  let hasStarted = false;
  let resetNow = false;
  let animationInterval;
  
  function startAnimation() {
    hasStarted=true;
    animationInterval = setInterval(()=>yearSelected+=1, 50);
  }

  $:{
    if(!hasStarted){
      clearInterval(animationInterval);
    }
    if(yearSelected == years.length-1 && hasStarted) {
      yearSelected=0;
    }
    if (resetNow) {
      clearInterval(animationInterval);
      yearSelected=0;
      hasStarted=false;
      resetNow=false;
    }
  }
</script>

<div class="row">
  <!--  -->
  <div class="col-4">
    {#if hasStarted == true}
    <button type="button" class="btn btn-primary" on:click={() => hasStarted=false}>Stop</button>
    {/if}
    {#if hasStarted == false}
    <button type="button" class="btn btn-primary" on:click={() => startAnimation()}>Start</button>
    {/if}
    <button type="button" class="btn btn-primary" on:click={() =>resetNow=true}>Reset</button>
  </div>
  <div class="col-4">
    <label class="form-label col-sm-10">Year: {years[yearSelected]} <input type="range" class="form-range" bind:value={yearSelected} min="0" max={years.length-1} step="1"></label>
  </div>
  <div class="col-4">
    <select bind:value={continentSelected}> 
        {#each dropDownOptions as continent}
          <option value={continent}>
            {continent}
          </option>
        {/each}
      </select>
  </div>
</div>
