<script>
    let counter = 0;
</script>

<button type="button" class="btn btn-primary" on:click={() => counter+=1}>Clicked {counter} times</button>
<button type="button" class="btn btn-danger" on:click={() => counter=0}>Reset </button>
