<script>
import { filter } from "d3-array";

  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  let filteredData = null;
  let yearSelected = 0;
  let continentSelected = 'all';
  onMount(async () => {
    data = await json("/data/gapminder.json");
    filteredData = data[0]['countries'];
  });

  $: {
    if (data) {
      if (continentSelected == 'all') {
        filteredData = data[yearSelected]['countries'];
      } else {
        filteredData = data[yearSelected]['countries'].filter(a => a.continent == continentSelected);
      }
    }
  }
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={filteredData}/>
    <Controls {data} bind:yearSelected={yearSelected} bind:continentSelected={continentSelected} />
  </div>
{/if}
