<script>
  import { extent } from "d3-array";

  import { scaleLinear, scaleOrdinal } from "d3-scale";
  import { axisBottom, axisLeft } from "d3-axis";
  import { schemeCategory10 } from "d3-scale-chromatic";
  import { select } from "d3-selection";

  // Export data
  export let data = null;
  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Scales
  let xScale = scaleLinear()
    .domain(extent(data, (d) => +d.income))
    .nice()
    .range([0, innerWidth]);
  let yScale = scaleLinear().domain([0, 90]).nice().range([innerHeight, 0]);
  let popScale = scaleLinear()
    .domain(extent(data, (d) => +d.population))
    .range([5, 6]);
  let colorScale = scaleOrdinal(schemeCategory10).domain(
    data.map((d) => d.continent)
  );

  // Creating axis

  function createAxis(element, position) {
    let axis;
    switch (position) {
      case "bottom":
        axis = axisBottom(xScale)
        .tickSizeOuter(0)
        .ticks(3)
        .tickFormat(d => `$${d}`);
        break;
      case "left":
        axis = axisLeft(yScale).tickSizeOuter(0);
    }
    select(element).call(axis);
  }
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    <!--  -->
    <g use:createAxis={"bottom"} transform="translate(0, {innerHeight})" />
    <text transform={`translate(${-30},${innerHeight/2+40}) rotate(-90)`}
      >Life Expectancy</text
    >
    <g use:createAxis={"left"} transform="translate({margin}, 0)" />
    {#each data as country}
      <circle
        cx={xScale(country.income)}
        cy={yScale(country.life_exp)}
        r={popScale(country.population)}
        fill={colorScale(country.continent)}
      />
    {/each}
    <text x={innerWidth-50} y={innerHeight- 10}
     class="lbl-txt">1800</text
  >
  </g>
  <text x={innerWidth / 2} y={innerHeight + 90}
    >GDP per Capita</text
  >
  <text x={innerWidth / 3} y={margin.top-12} class="title-txt">Gapminder Scatterplot</text>
</svg>

<style>
  .lbl-txt {
    fill: gray;
    font-size: 20px;
  }

  .title-txt {
    fill: black;
    font-size: 35px;
  }
</style>
