<script>
  const width = 100;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <!-- Rectangle and circle  -->
    <rect x={ width / 4} y={ height/4} width=40 height=40></rect>
    <circle cx={width - width/3} cy={height- height/3} r=20></circle>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }

  rect {
    fill: yellow;
    stroke: transparent;
  }
  circle {
    fill: skyblue;
  }
</style>
