<script>
  import { scaleLinear, scaleOrdinal } from "d3-scale";
  import { extent } from "d3-array";
  import { schemeDark2 } from "d3-scale-chromatic";

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  // Scales
  let xScale = scaleLinear().domain([0, 10]).range([0, innerWidth]);
  let yScale = scaleLinear().domain([0, 3]).range([innerHeight, 0]);
  let colorScale = scaleOrdinal(schemeDark2).domain(extent(values, v => v.category));
  // values.forEach( (v) => console.log(`X: ${xScale(v.x)} Y: ${xScale(v.y)}`));

</script>

<svg viewBox="{0} {0} {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <!-- Drawing circles -->
    {#each values as val}
      <text x={xScale(val.x)} y ={yScale(val.y)-10}>{val.y}</text>
      <circle cx = {xScale(val.x)} cy = {yScale(val.y)} r=5 fill="{colorScale(val.category)}">
      </circle>
      <line x1={xScale(val.x)} x2={xScale(val.x)} y1 = {innerHeight} y2 = {yScale(val.y)+5} stroke = 'black' >

      </line>
    {/each}
    <line x1=0 x2={innerWidth} y1={innerHeight} y2={innerHeight} stroke="black"></line>
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
