<script>
  import { scaleBand, scaleLinear } from "d3-scale";
  import { axisBottom, axisLeft } from "d3-axis";
  import { select } from "d3-selection";

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  // Getting barwidth 
  const barWidth = innerWidth/data.length;
  // Formatting axis
  let xScale = scaleBand().domain(data.map((d) => d.service)).range([0, innerWidth]);
  let yScale = scaleLinear().domain([0, 3]).range([innerHeight, 0]);
  function createAxis(element, orientation) {
    // Setting the axis
    let xAxis = axisBottom(xScale);
    let yAxis = axisLeft(yScale);
    switch (orientation) {
      case 'bottom':
        select(element).call(xAxis);
        break;
      case 'left':
        select(element).call(yAxis)
        .append("text")
        .attr("text-anchor", "middle")
        .attr("y", margin.left)
        .attr("transform", "rotate(-90)")
        .text("Viewers (Millions)");
        break;
      default:
        break;
    }
  }
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    <g use:createAxis={"left"} transform={`translate(${margin},0)`}></g>
    <g use:createAxis={"bottom"} transform="translate({0}, {innerHeight})"></g>
    <!-- Plotting bands  -->
    {#each data as item }
    <rect x={xScale(item.service)} y={yScale(item.viewers)} width={barWidth - 10} height={yScale(0) - yScale(item.viewers)} style="fill: blueviolet;"> </rect>
    {/each}
  </g>
</svg>
