<script>
import { onMount } from "svelte";
import { json } from "d3-fetch";
import Ex_7Scatterplot from "./_ex_7_scatterplot.svelte";
    // Loading data
    let data = null;
    let dataFin;
    onMount( async() => {
        data = await json('/data/gapminder.json');
        dataFin = await data.filter((d) => d.year == "1800")[0]['countries'];
    });
</script>
{#if dataFin}
    <Ex_7Scatterplot data={dataFin}></Ex_7Scatterplot>
{:else}
    <p>Data is loading. Please wait...</p> 
{/if}

